body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 span{
    font-weight:bold;
}


#exercise-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#routine-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #exercise-form, #routine-list {
        padding: 10px;
    }
}
